*.iml
.gradle
/local.properties
**/.DS_Store
/build
/release
app/release
/captures
.externalNativeBuild
.cxx
.java-version
*/detekt-report.*
.apk
app/release**/build/
!src/**/build/
gradle-app.setting
.gradletasknamecache
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/ktor.xml
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.*.kate-swp
.swp.*
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.cxx/
freeline.py
freeline/
freeline_project_description.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
vcs.xml
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
*.hprof
*.esproj
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
*~
tags
[._]*.un~
*.tmp
~$*.doc*
Backup of *.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
out
gen
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
/.idea/compiler.xml
/.idea/scopes/DefaultNonTest.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/kotlinScripting.xml
/.idea/markdown.xml
/.idea/misc.xml
/app/debug/output-metadata.json
/.idea/deploymentTargetDropDown.xml
/.idea/other.xml

### Custom rules
.kotlin
.firebase-service-account.json
/.idea/artifacts/**
!gradle/gradle-wrapper.jar
# built and copied by dokka plugin
docs/javadocs/**
# yarn.lock location & other
/kotlin-js-store/**
/.idea/appInsightsSettings.xml
/.idea/deploymentTargetSelector.xml
**/plugin_encrypted_key.pem
**/plugin_rsa_private_key.pem
**/.cache
/.intellijPlatform/
