/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
    font-family: "Monaspace Neon";
    src: url(https://cdn.jsdelivr.net/gh/githubnext/monaspace@v1.000/fonts/webfonts/MonaspaceNeon-Regular.woff)
        format("woff");
    font-display: swap;
    font-feature-settings: "calt", "liga", "ss01", "ss02", "ss03", "ss04", "ss05", "ss06", "ss07", "ss08", "ss09";
}

:root {
    --ifm-color-primary: #2e8555;
    --ifm-color-primary-dark: #29784c;
    --ifm-color-primary-darker: #277148;
    --ifm-color-primary-darkest: #205d3b;
    --ifm-color-primary-light: #33925d;
    --ifm-color-primary-lighter: #359962;
    --ifm-color-primary-lightest: #3cad6e;
    --ifm-font-family-base: "Comfortaa", "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Helvetica, Arial, sans-serif;
    --ifm-font-family-monospace: "Monaspace Neon", "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --ifm-font-size-base: 100%;
    --ifm-code-font-size: 95%;
    --ifm-heading-font-family: "Montserrat Alternates", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Helvetica, Arial, sans-serif;
    --docusaurus-highlighted-code-line-bg: #e2ecf9;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
    --ifm-color-primary: #00d46a;
    --ifm-color-primary-dark: #00bf5f;
    --ifm-color-primary-darker: #00b45a;
    --ifm-color-primary-darkest: #00944a;
    --ifm-color-primary-light: #00e975;
    --ifm-color-primary-lighter: #00f47a;
    --ifm-color-primary-lightest: #15ff8a;
    --docusaurus-highlighted-code-line-bg: #1e2227;
}

[data-theme="light"] .DocSearch {
    /* --docsearch-primary-color: var(--ifm-color-primary); */
    /* --docsearch-text-color: var(--ifm-font-color-base); */
    --docsearch-muted-color: var(--ifm-color-secondary-darkest);
    --docsearch-container-background: rgba(94, 100, 112, 0.7);
    /* Modal */
    --docsearch-modal-background: var(--ifm-color-secondary-lighter);
    /* Search box */
    --docsearch-searchbox-background: var(--ifm-color-secondary);
    --docsearch-searchbox-focus-background: var(--ifm-color-white);
    /* Hit */
    --docsearch-hit-color: var(--ifm-font-color-base);
    --docsearch-hit-active-color: var(--ifm-color-white);
    --docsearch-hit-background: var(--ifm-color-white);
    /* Footer */
    --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme="dark"] .DocSearch {
    --docsearch-text-color: var(--ifm-font-color-base);
    --docsearch-muted-color: var(--ifm-color-secondary-darkest);
    --docsearch-container-background: rgba(47, 55, 69, 0.7);
    /* Modal */
    --docsearch-modal-background: var(--ifm-background-color);
    /* Search box */
    --docsearch-searchbox-background: var(--ifm-background-color);
    --docsearch-searchbox-focus-background: var(--ifm-color-black);
    /* Hit */
    --docsearch-hit-color: var(--ifm-font-color-base);
    --docsearch-hit-active-color: var(--ifm-color-white);
    --docsearch-hit-background: var(--ifm-color-emphasis-100);
    /* Footer */
    --docsearch-footer-background: var(--ifm-background-surface-color);
    --docsearch-key-gradient: linear-gradient(
        -26.5deg,
        var(--ifm-color-emphasis-200) 0%,
        var(--ifm-color-emphasis-100) 100%
    );
}

.header-github-link::before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    background-color: var(--ifm-navbar-link-color);
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
    transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

code {
    font-feature-settings: "calt", "liga", "ss01", "ss02", "ss03", "ss04", "ss05", "ss06", "ss07", "ss08", "ss09";
}

/* Apply to headings */
h1,
h2 {
    font-family: var(--ifm-heading-font-family);
    font-weight: 600;
}

h3,
h4,
h5,
h6 {
    font-family: var(--ifm-font-family-base);
    letter-spacing: normal;
}

h3 {
    font-weight: 600;
}

h4,
h5,
h6 {
    font-weight: 500;
}

[class*="admonitionHeading"] {
    font-family: var(--ifm-font-family-base) !important;
    font-size: 1rem !important;
    letter-spacing: 0.01em;
    font-weight: 600;
    text-transform: capitalize !important;
}

/* First letter styling for headings */
h1::first-letter,
h2::first-letter {
    color: var(--ifm-color-primary);
}

/* Details styling */
details {
    --docusaurus-details-decoration-color: var(--ifm-color-primary) !important;
    background-color: var(--ifm-color-emphasis-100) !important;
    border: 1px solid var(--ifm-color-primary) !important;
    border-radius: var(--ifm-global-radius);
}

[data-theme="dark"] details {
    --docusaurus-details-decoration-color: var(--ifm-color-primary) !important;
    background-color: var(--ifm-color-emphasis-100) !important;
    border: 1px solid var(--ifm-color-primary) !important;
}

details > summary {
    border-bottom-color: var(--docusaurus-details-decoration-color) !important;
}

details > summary::before {
    border-color: transparent transparent transparent var(--ifm-color-primary) !important;
}

details > summary:hover {
    background-color: var(--ifm-color-emphasis-200) !important;
}
