name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: "build"
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v5

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          check-latest: true
          java-version: 23
          cache: 'gradle'

      - uses: actions/setup-node@v6
        name: Set up Node
        with:
          node-version: 23
          cache: npm
          cache-dependency-path: './docs/package-lock.json'

      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest

      - name: Create local properties
        env:
          LOCAL_PROPERTIES: ${{ secrets.LOCAL_PROPERTIES }}
        run: echo "$LOCAL_PROPERTIES" | base64 --decode > local.properties

      - name: Cache konan directory
        uses: actions/cache@v5
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('*.gradle.kts', 'buildSrc/*') }}
          restore-keys: |
            ${{ runner.os }}-konan-

      - name: Run detekt
        run: ./gradlew detektAll

      - name: Unit tests
        run: ./gradlew allTests --stacktrace --no-configuration-cache

      - name: Install docs deps
        run: cd docs && npm ci

      - name: Test build website
        run: cd docs && npm run build

      - name: Build
        run: ./gradlew assemble --stacktrace --no-configuration-cache

      - name: Verify IDE plugin
        run: ./gradlew debugger:ideplugin:verifyPlugin
