name: debugger-linux

on:
  push:
    branches: [ master ]

concurrency:
  group: "publish-linux"
  cancel-in-progress: true

jobs:
  publish-windows:
    runs-on: ubuntu-latest
    environment: publishing
    steps:
      - uses: actions/checkout@v4

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          check-latest: true
          java-version: 22
          cache: 'gradle'

      - name: Validate gradle wrapper
        uses: gradle/wrapper-validation-action@v3

      - name: Create local properties
        env:
          LOCAL_PROPERTIES: ${{ secrets.LOCAL_PROPERTIES }}
        run: echo "$LOCAL_PROPERTIES" | base64 --decode > local.properties

      - name: Cache konan directory
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('*.gradle.kts', 'buildSrc/*') }}
          restore-keys: |
            ${{ runner.os }}-konan-

      - name: Create platform debugger distributable
        run: ./gradlew debugger:app:packageDistributionForCurrentOS

      - name: Create platform sample distributable
        run: ./gradlew sample:packageDistributionForCurrentOS

      - name: Upload debugger
        uses: actions/upload-artifact@v4.4.3
        with:
          name: Debugger_Linux
          path: ./debugger/app/build/compose/binaries/main/deb/*
          if-no-files-found: error
          overwrite: false

      - name: Upload sample
        uses: actions/upload-artifact@v4.4.3
        with:
          name: Sample_Linux
          path: ./sample/build/compose/binaries/main/deb/*
          if-no-files-found: error
          overwrite: false
