name: debugger-macos

on:
  push:
    branches: [ master ]

concurrency:
  group: "publish-macos"
  cancel-in-progress: true

jobs:
  publish-windows:
    runs-on: macos-latest
    environment: publishing
    steps:
      - uses: actions/checkout@v4

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          check-latest: true
          java-version: 22
          cache: 'gradle'

      - name: Validate gradle wrapper
        uses: gradle/wrapper-validation-action@v3

      - name: Create local properties
        env:
          LOCAL_PROPERTIES: ${{ secrets.LOCAL_PROPERTIES }}
        run: echo "$LOCAL_PROPERTIES" | base64 --decode > local.properties

      - name: Create platform debugger distributable
        run: ./gradlew debugger:app:packageDistributionForCurrentOS

      - name: Create platform sample distributable
        run: ./gradlew sample:packageDistributionForCurrentOS

      - name: Upload debugger
        uses: actions/upload-artifact@v4.3.4
        with:
          name: Debugger_MacOS
          path: ./debugger/app/build/compose/binaries/main/dmg/*
          if-no-files-found: error
          overwrite: false

      - name: Upload sample
        uses: actions/upload-artifact@v4.3.4
        with:
          name: Sample_MacOS
          path: ./sample/build/compose/binaries/main/dmg/*
          if-no-files-found: error
          overwrite: false
