on:
  push:
    branches: [ master ]

concurrency:
  group: "docs-legacy"
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          check-latest: true
          java-version: 22
          cache: 'gradle'

      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Create local properties
        env:
          LOCAL_PROPERTIES: ${{ secrets.LOCAL_PROPERTIES }}
        run: echo "$LOCAL_PROPERTIES" | base64 --decode > local.properties

      - name: Cache konan directory
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('*.gradle.kts', 'buildSrc/*') }}
          restore-keys: |
            ${{ runner.os }}-konan-

      - name: Update docs-legacy/README.md
        run: cp ./README.md ./docs-legacy/README.md

      - name: Generate docs-legacy
        run: ./gradlew dokkaGenerate

      - name: Make javadoc dir
        run: mkdir -p ./docs-legacy/javadocs

      - name: Move docs-legacy to the parent docs-legacy dir
        run: cp -r ./build/dokka/html/ ./docs-legacy/javadocs/

      - name: Create sample app distributable
        run: ./gradlew wasmJsBrowserDistribution --no-configuration-cache

      - name: Move assembled sample app to docs-legacy folder
        run: cp -r ./sample/build/dist/wasmJs/productionExecutable/ ./docs-legacy/sample/

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: './docs-legacy/'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
